body {
    background-color: lightgrey;
    text-align: center;
}

#gameDiv {
    position: relative;
    top: 200px;
    font-family: cursive;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightcyan;
}

.choiceBtn {
    line-height: 50px;
    width: 150px;
}

#playerText {
    color: blue;
}

#computerText {
    color: red;
}